* {
    align: center;
    justify: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: #fffbf6;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

h4 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}

#wizard-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30rem;
    width: auto;
    border: solid white 1px;
    border-radius: 4px;
}

p {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
